html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: grey;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
}

header {
    text-align: center;
    background-color: lightslategray;
}

.logo {
    width: 70%;
    height: auto;
}
