* {
    padding: 1px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: grey;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.logo {
    width: 100%;
    height: auto;
}

.oval-button {
    width: 100px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #f0f0f0;
    border: none;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    box-shadow: 0 2px 2px;
}
.oval-button:hover {
    background-color: #b10d19;
    color: #f0f0f0;
}

.game-area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    }



.score {
    font-size: 160%;
    font-weight: bold;
    color: #b10d19;
    margin-bottom: 10px;
}

.cards {
    height: auto;
    width: 60%;
}


/* Media query: smaller tablets and larger (600px and up) */
@media screen and (min-width: 600px) {
.logo {
        width: 40%;
        height: auto;
    }
}