@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600;700;800&family=Lato:wght@300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 1px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    max-height: 1100px;
    position: relative;
}

body {
    background-image: linear-gradient(#b10d19, #f0882f, #b10d19);
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.logo {
    width: 100%;
    height: auto;
}

.oval-button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: none;
    color: #b10d19;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    box-shadow: 0 2px 2px;
    cursor: pointer;
}

.oval-button:hover {
    background-color: #b10d19;
    color: #FFFFFF;
}

/* The Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(250, 235, 215, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #FFFFFF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-sizing: border-box;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.diagram {
    height: auto;
    width: 30%;
}

.rules-text {
    font-size: 180%;
    color: #b10d19;
}

.game-area {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 7px 7px 20px 20px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 10px 10px;
}

.player-wrapper .computer-wrapper {
    margin-left: 5px;
}

.score {
    font-size: 120%;
    font-weight: bold;
    color: #b10d19;
    margin-bottom: 10px;
}

.round {
    font-size: 120%;
}

#message {
    margin-top: 30px;
    text-decoration: underline;
    font-weight: bold;
    color: #b10d19;
    ;
}

.cards {
    height: 120px;
    width: 120px;
    margin-top: 50px;
}

#reset {
    margin-bottom: 60px;
}

.controls-area {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn {
    text-align: center;
    flex-basis: 130px;
    flex-grow: 1;
    background-color: #FFFFFF;
    border: none;
    color: #b10d19;
    font-size: 30px;
    margin: 10px 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b10d19;
    color: #FFFFFF;
}

footer {
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 10px;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
}

footer i {
    font-size: 170%;
    padding: 4%;
    color: #b10d19;
}

/* Media query: smaller tablets and larger (600px and up) */
@media screen and (min-width: 600px) {
    .logo {
        width: 50%;
        height: auto;
    }

    .cards {
        height: 170px;
        width: 170px;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    .game-area {
        width: 80%;
    }

    .score {
        font-size: 160%;
    }

    .round {
        font-size: 160%;
        margin: 20px;
        padding: 30px;
    }

    .oval-button {
        width: 150px;
        height: 60px;
        border-radius: 30px;
        font-size: 30px;
    }

    .player-wrapper .computer-wrapper {
        padding: 30px;
    }
}


/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    .cards {
        height: 200px;
        width: 200px;
    }
}

/* Media query: desktops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    .cards {
        height: 250px;
        width: 250px;
    }
}